+++
title = 'Program Verification'
date = 2024-04-20T22:06:23+02:00
series = ['Understanding']
series_order = 3
tags = ["program verification", "formal verification", "software verification", "software correctness", "formal methods", "software engineering"]
categories = ["computer science", "programming"]
draft = true
+++
{{< katex >}}

This article is part of a series on understanding different concepts in computer science and software engineering.
In this post, we will explore the concept of program verification.
The reason I started investigating this topic is because I read a paper by **Tony Hoare** on [An Axiomatic Basis for Computer Programming](https://www.cs.cmu.edu/~crary/819-f09/Hoare69.pdf), where he mentioned that *"the purpose of program verification is to demonstrate the correctness of a program with respect to a specification"*.

- https://www.youtube.com/watch?v=j2m5YMnHvQQ
