<div class="relative flex px-4 py-3 rounded-md bg-primary-100 dark:bg-primary-900">
	<span class="text-primary-400 ltr:pr-3 rtl:pl-3 flex items-center">
		{{ partial "icon.html" "patreon" }}
	</span>

	<span class="dark:text-neutral-300">
		If you liked this post and <b>want to show your support</b>, consider sponsoring me!
		I use donations to <b>buy coffee ☕️</b> and <b>write more articles</b> that you'll love. ❤️
	</span>
	<a href="/support" target="_blank" class="flex items-center absolute right-0" style="bottom: -2rem;">
		<span
			class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-800 dark:hover:!bg-primary-700">
			&nbsp; Donate Now 🙏 &nbsp;
		</span>
	</a>
</div>